@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 20 14% 20%;

    --card: 0 0% 100%;
    --card-foreground: 20 14% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 20%;

    --primary: 25 75% 47%;
    --primary-foreground: 40 33% 97%;

    --secondary: 45 86% 62%;
    --secondary-foreground: 20 14% 20%;

    --muted: 40 20% 90%;
    --muted-foreground: 20 14% 46%;

    --accent: 176 56% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 15% 85%;
    --input: 40 15% 85%;
    --ring: 25 75% 47%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14% 12%;
    --foreground: 40 33% 97%;

    --card: 20 14% 16%;
    --card-foreground: 40 33% 97%;

    --popover: 20 14% 16%;
    --popover-foreground: 40 33% 97%;

    --primary: 25 75% 47%;
    --primary-foreground: 40 33% 97%;

    --secondary: 20 14% 20%;
    --secondary-foreground: 40 33% 97%;

    --muted: 20 14% 20%;
    --muted-foreground: 40 20% 65%;

    --accent: 176 56% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 40 33% 97%;

    --border: 20 14% 24%;
    --input: 20 14% 24%;
    --ring: 25 75% 47%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
